pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "bronze",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.table,'_',variables('current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": {
						"value": "@utcNow() ",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "String",
				"defaultValue": "dbo"
			},
			"table": {
				"type": "String",
				"defaultValue": "DimUser"
			},
			"cdc": {
				"type": "String",
				"defaultValue": "updated_at"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}